
    #navbar {
      width: 100%;
      background-color: #333;
      overflow: auto;
    }


    #navbar a {
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }


    #navbar a:hover {
      background-color:#b62ef9;
      color: black;
    }


    .active {
      background-color: #8b09e8;
      color: white;
    }

    #titulo {
      font-family: 'Open Sans', sans-serif;
      font-size: 50px;
      color: rgb(221, 18, 221);
      text-align: center;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    }


    #container {
      text-align: center;
    }

    #paragraph {
      font-family: 'Open Sans', sans-serif; 
      font-size: 30px;
      text-align: justify;
    }



    #container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    .photo-space {
      width: 30%;
      height: 300px;
      overflow: hidden;
      margin: 20px;
    }

    .photo-space img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    #texto {
      display: flex;
      margin:0 auto;
      align-items: center;
      font-size: 20px;
    }
    
    #col1, #col2 {
      width: 50%; 
      padding: 10px;
      border: 1px solid black;
    }
    

    #container {
      display: flex; 
      flex-wrap: wrap; 
    }

    .photo-space{
      flex:1; 
      width: 25%; 
    }
    
    a {
      color: rgb(9, 8, 9); 
      text-decoration: none;
    }
    h1 {
      font-size: 2em; 
      text-align: center; 
    }

    footer {
      background-color: rgb(171, 109, 183); 
      color: rgb(7, 7, 7); 
      text-align: center; 
      padding: 20px; 
    }
    
    
    